@import './theme';

html,
body {
  height: 100%;
}

body {
  cursor: var(--system-cursor-default), auto;

  font-family: var(--system-font-family);

  overflow: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

a,u {
  text-decoration: none;
}

* {
  /*-webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;*/
  box-sizing: border-box;
}