<div id="sds-taskbar-panel-wrap" class=" x-column x-border-layout-ct" style="width: 1597px;">
    <div id="sds-taskbar-panel-wrap2" class=" x-border-panel x-border-layout-ct"
        style="left: 0px; top: 0px; width: 1449px; height: 39px;">
        <div id="sds-taskbuttons-panel" class=" x-border-panel"
            style="left: 0px; top: 0px; width: 1449px; height: 39px;">
            <div id="sds-taskbuttons-strip-wrap">
                <ul tabindex="0" role="menu" aria-label="Aktif uygulamalar" id="sds-taskbuttons-strip">
                    <li id="ext-gen1347" style="visibility: visible;">
                        <table id="ext-comp-1488" cellspacing="0" class="x-btn x-btn-icon launched active">
                            <tbody class="x-btn-small x-btn-icon-small-left">
                                <tr>
                                    <td class="x-btn-tl"><i>&nbsp;</i></td>
                                    <td class="x-btn-tc"></td>
                                    <td class="x-btn-tr"><i>&nbsp;</i></td>
                                </tr>
                                <tr>
                                    <td class="x-btn-ml"><i>&nbsp;</i></td>
                                    <td class="x-btn-mc"><em class=" x-unselectable" unselectable="on"><button
                                                type="button" id="ext-gen1348" class=" x-btn-text"
                                                aria-label="Paket Merkezi" tabindex="-1" role="menuitem"
                                                style="background-image: url(&quot;webman/modules/PkgManApp/images/package_center_32.png?v=25426-s0&quot;);">&nbsp;</button></em>
                                    </td>
                                    <td class="x-btn-mr"><i>&nbsp;</i></td>
                                </tr>
                                <tr>
                                    <td class="x-btn-bl"><i>&nbsp;</i></td>
                                    <td class="x-btn-bc"></td>
                                    <td class="x-btn-br"><i>&nbsp;</i></td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                    <li class="sds-taskbuttons-edge" id="ext-gen121"></li>
                    <div class="x-clear"></div>
                </ul>
            </div>
            <div class="sds-taskbuttons-strip-spacer" id="ext-gen120"></div>
        </div>
    </div>
    <div id="sds-taskbar-panel-tray-ct" class=" x-border-panel x-box-layout-ct"
        style="width: 148px; left: 1449px; top: 0px; height: 39px;">
        <div class="x-box-inner" id="ext-gen115" style="width: 148px; height: 39px;">
            <table id="ext-comp-1031" cellspacing="0"
                class="x-btn sds-taskbar-overflow-menu-button x-btn-noicon x-hide-display x-box-item">
                <tbody class="x-btn-small x-btn-icon-small-left">
                    <tr>
                        <td class="x-btn-tl"><i>&nbsp;</i></td>
                        <td class="x-btn-tc"></td>
                        <td class="x-btn-tr"><i>&nbsp;</i></td>
                    </tr>
                    <tr>
                        <td class="x-btn-ml"><i>&nbsp;</i></td>
                        <td class="x-btn-mc"><em class=" x-unselectable" unselectable="on"><button type="button"
                                    id="ext-gen116" class=" x-btn-text">&nbsp;</button></em></td>
                        <td class="x-btn-mr"><i>&nbsp;</i></td>
                    </tr>
                    <tr>
                        <td class="x-btn-bl"><i>&nbsp;</i></td>
                        <td class="x-btn-bc"></td>
                        <td class="x-btn-br"><i>&nbsp;</i></td>
                    </tr>
                </tbody>
            </table>
            <div id="sds-tray-panel" class="x-box-item" style="left: 0px; top: 0px;">
                <div class="sds-tray-strip-wrap" id="ext-gen117">
                    <ul class="sds-tray-strip" id="ext-gen119">
                        <li id="ext-gen558">
                            <table id="ext-comp-1185" cellspacing="0" class="x-btn x-btn-icon x-hide-display">
                                <tbody class="x-btn-small x-btn-icon-small-left">
                                    <tr>
                                        <td class="x-btn-tl"><i>&nbsp;</i></td>
                                        <td class="x-btn-tc"></td>
                                        <td class="x-btn-tr"><i>&nbsp;</i></td>
                                    </tr>
                                    <tr>
                                        <td class="x-btn-ml"><i>&nbsp;</i></td>
                                        <td class="x-btn-mc"><em class=" x-unselectable" unselectable="on"><button
                                                    type="button" id="ext-gen559"
                                                    class=" x-btn-text sds-tray-item-disk-port"
                                                    aria-label="Sürücü yuvası devre dışı" role="button"
                                                    tabindex="-1">&nbsp;</button></em></td>
                                        <td class="x-btn-mr"><i>&nbsp;</i></td>
                                    </tr>
                                    <tr>
                                        <td class="x-btn-bl"><i>&nbsp;</i></td>
                                        <td class="x-btn-bc"></td>
                                        <td class="x-btn-br"><i>&nbsp;</i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li id="ext-gen644">
                            <table id="ext-comp-1205" cellspacing="0" class="x-btn x-hide-display x-btn-icon">
                                <tbody class="x-btn-small x-btn-icon-small-left">
                                    <tr>
                                        <td class="x-btn-tl"><i>&nbsp;</i></td>
                                        <td class="x-btn-tc"></td>
                                        <td class="x-btn-tr"><i>&nbsp;</i></td>
                                    </tr>
                                    <tr>
                                        <td class="x-btn-ml"><i>&nbsp;</i></td>
                                        <td class="x-btn-mc"><em class=" x-unselectable" unselectable="on"><button
                                                    type="button" id="ext-gen645"
                                                    class=" x-btn-text sds-tray-item-ani-creating-thumbnail"
                                                    aria-label="Oluşturma İşlemi İlerleme Durumu" role="button"
                                                    tabindex="-1">&nbsp;</button></em></td>
                                        <td class="x-btn-mr"><i>&nbsp;</i></td>
                                    </tr>
                                    <tr>
                                        <td class="x-btn-bl"><i>&nbsp;</i></td>
                                        <td class="x-btn-bc"></td>
                                        <td class="x-btn-br"><i>&nbsp;</i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li id="ext-gen857">
                            <table id="ext-comp-1283" cellspacing="0" class="x-btn x-btn-icon">
                                <tbody class="x-btn-small x-btn-icon-small-left">
                                    <tr>
                                        <td class="x-btn-tl"><i>&nbsp;</i></td>
                                        <td class="x-btn-tc"></td>
                                        <td class="x-btn-tr"><i>&nbsp;</i></td>
                                    </tr>
                                    <tr>
                                        <td class="x-btn-ml"><i>&nbsp;</i></td>
                                        <td class="x-btn-mc"><em class=" x-unselectable" unselectable="on"><button
                                                    type="button" id="ext-gen858"
                                                    class=" x-btn-text syno-dscs syno-dscs-error-tray-icon"
                                                    aria-label="Cloud Sync" role="button"
                                                    tabindex="-1">&nbsp;</button></em></td>
                                        <td class="x-btn-mr"><i>&nbsp;</i></td>
                                    </tr>
                                    <tr>
                                        <td class="x-btn-bl"><i>&nbsp;</i></td>
                                        <td class="x-btn-bc"></td>
                                        <td class="x-btn-br"><i>&nbsp;</i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li id="ext-gen940">
                            <table id="ext-comp-1315" cellspacing="0" class="x-btn x-btn-icon x-hide-display">
                                <tbody class="x-btn-small x-btn-icon-small-left">
                                    <tr>
                                        <td class="x-btn-tl"><i>&nbsp;</i></td>
                                        <td class="x-btn-tc"></td>
                                        <td class="x-btn-tr"><i>&nbsp;</i></td>
                                    </tr>
                                    <tr>
                                        <td class="x-btn-ml"><i>&nbsp;</i></td>
                                        <td class="x-btn-mc"><em class=" x-unselectable" unselectable="on"><button
                                                    type="button" id="ext-gen941"
                                                    class=" x-btn-text sds-tray-item-device"
                                                    aria-label="Harici Aygıtlar" role="button"
                                                    tabindex="-1">&nbsp;</button></em></td>
                                        <td class="x-btn-mr"><i>&nbsp;</i></td>
                                    </tr>
                                    <tr>
                                        <td class="x-btn-bl"><i>&nbsp;</i></td>
                                        <td class="x-btn-bc"></td>
                                        <td class="x-btn-br"><i>&nbsp;</i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li id="ext-gen951">
                            <table id="ext-comp-1320" cellspacing="0" class="x-btn  x-btn-noicon x-hide-display">
                                <tbody class="x-btn-small x-btn-icon-small-left">
                                    <tr>
                                        <td class="x-btn-tl"><i>&nbsp;</i></td>
                                        <td class="x-btn-tc"></td>
                                        <td class="x-btn-tr"><i>&nbsp;</i></td>
                                    </tr>
                                    <tr>
                                        <td class="x-btn-ml"><i>&nbsp;</i></td>
                                        <td class="x-btn-mc"><em class=" x-unselectable" unselectable="on"><button
                                                    type="button" id="ext-gen952" class=" x-btn-text"
                                                    aria-label="İndeksleme İlerlemesi" role="button"
                                                    tabindex="-1">&nbsp;</button></em></td>
                                        <td class="x-btn-mr"><i>&nbsp;</i></td>
                                    </tr>
                                    <tr>
                                        <td class="x-btn-bl"><i>&nbsp;</i></td>
                                        <td class="x-btn-bc"></td>
                                        <td class="x-btn-br"><i>&nbsp;</i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li id="ext-gen976">
                            <table id="ext-comp-1326" cellspacing="0" class="x-btn  x-btn-noicon x-hide-display">
                                <tbody class="x-btn-small x-btn-icon-small-left">
                                    <tr>
                                        <td class="x-btn-tl"><i>&nbsp;</i></td>
                                        <td class="x-btn-tc"></td>
                                        <td class="x-btn-tr"><i>&nbsp;</i></td>
                                    </tr>
                                    <tr>
                                        <td class="x-btn-ml"><i>&nbsp;</i></td>
                                        <td class="x-btn-mc"><em class=" x-unselectable" unselectable="on"><button
                                                    type="button" id="ext-gen977" class=" x-btn-text"
                                                    aria-label="Arkaplan Görevi" role="button"
                                                    tabindex="-1">&nbsp;</button></em></td>
                                        <td class="x-btn-mr"><i>&nbsp;</i></td>
                                    </tr>
                                    <tr>
                                        <td class="x-btn-bl"><i>&nbsp;</i></td>
                                        <td class="x-btn-bc"></td>
                                        <td class="x-btn-br"><i>&nbsp;</i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li id="ext-gen1001">
                            <table id="ext-comp-1336" cellspacing="0" class="x-btn  x-btn-noicon x-hide-display">
                                <tbody class="x-btn-small x-btn-icon-small-left">
                                    <tr>
                                        <td class="x-btn-tl"><i>&nbsp;</i></td>
                                        <td class="x-btn-tc"></td>
                                        <td class="x-btn-tr"><i>&nbsp;</i></td>
                                    </tr>
                                    <tr>
                                        <td class="x-btn-ml"><i>&nbsp;</i></td>
                                        <td class="x-btn-mc"><em class=" x-unselectable" unselectable="on"><button
                                                    type="button" id="ext-gen1002" class=" x-btn-text"
                                                    aria-label="Yükleme Kuyruğu" role="button"
                                                    tabindex="-1">&nbsp;</button></em></td>
                                        <td class="x-btn-mr"><i>&nbsp;</i></td>
                                    </tr>
                                    <tr>
                                        <td class="x-btn-bl"><i>&nbsp;</i></td>
                                        <td class="x-btn-bc"></td>
                                        <td class="x-btn-br"><i>&nbsp;</i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li id="ext-gen1022">
                            <table id="ext-comp-1346" cellspacing="0" class="x-btn  x-btn-noicon x-hide-display">
                                <tbody class="x-btn-small x-btn-icon-small-left">
                                    <tr>
                                        <td class="x-btn-tl"><i>&nbsp;</i></td>
                                        <td class="x-btn-tc"></td>
                                        <td class="x-btn-tr"><i>&nbsp;</i></td>
                                    </tr>
                                    <tr>
                                        <td class="x-btn-ml"><i>&nbsp;</i></td>
                                        <td class="x-btn-mc"><em class=" x-unselectable" unselectable="on"><button
                                                    type="button" id="ext-gen1023" class=" x-btn-text"
                                                    aria-label="İndirme Kuyruğu" role="button"
                                                    tabindex="-1">&nbsp;</button></em></td>
                                        <td class="x-btn-mr"><i>&nbsp;</i></td>
                                    </tr>
                                    <tr>
                                        <td class="x-btn-bl"><i>&nbsp;</i></td>
                                        <td class="x-btn-bc"></td>
                                        <td class="x-btn-br"><i>&nbsp;</i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li id="ext-gen1043">
                            <table id="ext-comp-1356" cellspacing="0" class="x-btn  x-btn-noicon x-hide-display">
                                <tbody class="x-btn-small x-btn-icon-small-left">
                                    <tr>
                                        <td class="x-btn-tl"><i>&nbsp;</i></td>
                                        <td class="x-btn-tc"></td>
                                        <td class="x-btn-tr"><i>&nbsp;</i></td>
                                    </tr>
                                    <tr>
                                        <td class="x-btn-ml"><i>&nbsp;</i></td>
                                        <td class="x-btn-mc"><em class=" x-unselectable" unselectable="on"><button
                                                    type="button" id="ext-gen1044" class=" x-btn-text"
                                                    aria-label="Arkaplan Görevi" role="button"
                                                    tabindex="-1">&nbsp;</button></em></td>
                                        <td class="x-btn-mr"><i>&nbsp;</i></td>
                                    </tr>
                                    <tr>
                                        <td class="x-btn-bl"><i>&nbsp;</i></td>
                                        <td class="x-btn-bc"></td>
                                        <td class="x-btn-br"><i>&nbsp;</i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li class="sds-tray-edge" id="ext-gen557"></li>
                        <li class="sds-widget-tray" id="ext-gen931">
                            <div class="resource-monitor-widget-mini x-hide-display" id="ext-comp-1313"
                                style="height: 24px;">
                                <div class="resource-monitor-widget-mini-wrap">
                                    <div class="resource-monitor-widget-mini-cpu">
                                        <div class="resource-monitor-widget-mini-cpu-text"></div>
                                        <div class="resource-monitor-widget-mini-cpu-bar" id="ext-gen937"
                                            ext:qtip="0&amp;#37;">
                                            <div class="resource-monitor-widget-mini-cpu-value" id="ext-gen934"
                                                ext:qtip="0&amp;#37;" style="width: 0px;"></div>
                                        </div>
                                        <div class="x-clear"></div>
                                    </div>
                                    <div class="resource-monitor-widget-mini-mem">
                                        <div class="resource-monitor-widget-mini-mem-text"></div>
                                        <div class="resource-monitor-widget-mini-mem-bar" id="ext-gen938"
                                            ext:qtip="0&amp;#37;">
                                            <div class="resource-monitor-widget-mini-mem-value" id="ext-gen933"
                                                ext:qtip="0&amp;#37;" style="width: 0px;"></div>
                                        </div>
                                        <div class="x-clear"></div>
                                    </div>
                                </div>
                                <div class="resource-monitor-widget-mini-wrap">
                                    <div class="resource-monitor-widget-mini-upload">
                                        <div class="resource-monitor-widget-mini-upload-text"></div>
                                        <div class="resource-monitor-widget-mini-upload-value" id="ext-gen935"></div>
                                        <div class="x-clear"></div>
                                    </div>
                                    <div class="resource-monitor-widget-mini-download">
                                        <div class="resource-monitor-widget-mini-download-text"></div>
                                        <div class="resource-monitor-widget-mini-download-value" id="ext-gen936"></div>
                                        <div class="x-clear"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="sds-widget-tray-edge" id="ext-gen930"></li>
                        <div class="x-clear"></div>
                    </ul>
                </div>
                <div class="sds-tray-strip-spacer" id="ext-gen118"></div>
            </div>
        </div>
    </div>
</div>