.p-contextmenu {
    position: absolute
}

.p-contextmenu ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.p-contextmenu .p-submenu-list {
    position: absolute;
    min-width: 100%;
    z-index: 1
}

.p-contextmenu .p-menuitem-link {
    cursor: pointer;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    position: relative
}

.p-contextmenu .p-menuitem-text {
    line-height: 1
}

.p-contextmenu .p-menuitem {
    position: relative
}

.p-contextmenu .p-menuitem-link .p-submenu-icon {
    margin-left: auto
}

.p-contextmenu-enter {
    opacity: 0
}

.p-contextmenu-enter-active {
    opacity: 1;
    -webkit-transition: opacity .25s;
    -moz-transition: opacity .25s;
    transition: opacity .25s
}

.p-contextmenu {
    padding: 0.25rem 0;
    background: #ffffff;
    color: #495057;
    border: 0 none;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 12.5rem;
}

.p-contextmenu .p-menuitem-link {
    padding: 0.75rem 1.25rem;
    color: #495057;
    border-radius: 0;
    transition: box-shadow 0.2s;
    user-select: none;
}

.p-contextmenu .p-menuitem-link .p-menuitem-text {
    color: #495057;
}

.p-contextmenu .p-menuitem-link .p-menuitem-icon {
    color: #6c757d;
    margin-right: 0.5rem;
}

.p-contextmenu .p-menuitem-link .p-submenu-icon {
    color: #6c757d;
}

.p-contextmenu .p-menuitem-link:not(.p-disabled):hover {
    background: #e9ecef;
}

.p-contextmenu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: #495057;
}

.p-contextmenu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon {
    color: #6c757d;
}

.p-contextmenu .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
    color: #6c757d;
}

.p-contextmenu .p-menuitem-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.15rem #C7D2FE;
}

.p-contextmenu .p-submenu-list {
    padding: 0.25rem 0;
    background: #ffffff;
    border: 0 none;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.p-contextmenu .p-menuitem.p-menuitem-active>.p-menuitem-link {
    background: #EEF2FF;
}

.p-contextmenu .p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-text {
    color: #4338CA;
}

.p-contextmenu .p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-icon,
.p-contextmenu .p-menuitem.p-menuitem-active>.p-menuitem-link .p-submenu-icon {
    color: #4338CA;
}

.p-contextmenu .p-menu-separator {
    border-top: 1px solid #dee2e6;
    margin: 0.25rem 0;
}

.p-contextmenu .p-submenu-icon {
    font-size: 0.875rem;
}